<a href="https://colab.research.google.com/github/zhenyueli/module-21-challenge/blob/main/AlphabetSoupCharity_Optimization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import tensorflow as tf

# Load the dataset
url = "https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv"
charity_df= pd.read_csv(url)

# Display the first few rows of the dataframe
charity_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [6]:

# Drop non-beneficial columns
charity_df = charity_df.drop(columns=['EIN', 'NAME'])

In [7]:
# Determine the number of unique values in each column.
charity_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [8]:
# Look at APPLICATION_TYPE value counts for binning
charity_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [9]:
cutoff = 75
application = charity_df['APPLICATION_TYPE'].value_counts()
application_types_to_replace = application[application < cutoff].index.tolist()
# Replace in dataframe
for app in application_types_to_replace:
    charity_df['APPLICATION_TYPE'] = charity_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
charity_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: count, dtype: int64

In [10]:
# Look at CLASSIFICATION value counts for binning
charity_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [11]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification = charity_df['CLASSIFICATION'].value_counts()[charity_df['CLASSIFICATION'].value_counts() > 1]
classification

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [22]:
cutoff2 = 20
classification = charity_df['CLASSIFICATION'].value_counts()
classifications_to_replace = classification[classification <= cutoff2].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    charity_df['CLASSIFICATION'] = charity_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
charity_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: count, dtype: int64

In [23]:
# Convert categorical data to numeric with `pd.get_dummies`
converted_df = pd.get_dummies(charity_df)
converted_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,True,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,True,False,False,False,...,False,False,True,False,False,False,False,False,True,False

In [77]:
# Split our preprocessed data into our features and target arrays
y = converted_df['IS_SUCCESSFUL']
X = converted_df.drop(columns=['IS_SUCCESSFUL'])

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.9, random_state=50)

In [78]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [79]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(Dense(65, input_dim=X_train_scaled.shape[1], activation='relu'))

# Second hidden layer
nn.add(Dense(50, activation='relu'))

# New hidden layer
nn.add(Dense(20, activation='relu'))

# Add dropout

# Output layer
nn.add(Dense(1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_16"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_59 (Dense)            (None, 65)                2990

 dense_60 (Dense)            (None, 50)                3300

 dense_61 (Dense)            (None, 20)                1020

 dense_62 (Dense)            (None, 1)                 21

=================================================================
Total params: 7331 (28.64 KB)
Trainable params: 7331 (28.64 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [80]:
nn.compile(loss='binary_crossentropy',optimizer='adam',  metrics=['accuracy'])

In [81]:
nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
108/108 [==============================] - 2s 4ms/step - loss: 0.5983 - accuracy: 0.7142
Epoch 2/100
108/108 [==============================] - 0s 4ms/step - loss: 0.5468 - accuracy: 0.7399
Epoch 3/100
108/108 [==============================] - 0s 3ms/step - loss: 0.5358 - accuracy: 0.7460
Epoch 4/100
108/108 [==============================] - 0s 2ms/step - loss: 0.5317 - accuracy: 0.7495
Epoch 5/100
108/108 [==============================] - 0s 2ms/step - loss: 0.5271 - accuracy: 0.7483
Epoch 6/100
108/108 [==============================] - 0s 2ms/step - loss: 0.5273 - accuracy: 0.7469
Epoch 7/100
108/108 [==============================] - 0s 2ms/step - loss: 0.5246 - accuracy: 0.7472
Epoch 8/100
108/108 [==============================] - 0s 2ms/step - loss: 0.5214 - accuracy: 0.7445
Epoch 9/100
108/108 [==============================] - 0s 2ms/step - loss: 0.5245 - accuracy: 0.7460
Epoch 10/100
108/108 [==============================] - 0s 2ms/step - loss: 0.5206 - accuracy: 0.7539
Epoch 11/100
108/108 [==============================] - 0s 2ms/step - loss: 0.5189 - accuracy: 0.7533
Epoch 12/100
108/108 [==============================] - 0s 2ms/step - loss: 0.5177 - accuracy: 0.7521
Epoch 13/100
108/108 [==============================] - 0s 2ms/step - loss: 0.5190 - accuracy: 0.7539
Epoch 14/100
108/108 [==============================] - 0s 2ms/step - loss: 0.5168 - accuracy: 0.7512
Epoch 15/100
108/108 [==============================] - 0s 2ms/step - loss: 0.5170 - accuracy: 0.7562
Epoch 16/100
108/108 [==============================] - 0s 2ms/step - loss: 0.5151 - accuracy: 0.7559
Epoch 17/100
108/108 [==============================] - 0s 2ms/step - loss: 0.5154 - accuracy: 0.7539
Epoch 18/100
108/108 [==============================] - 0s 2ms/step - loss: 0.5148 - accuracy: 0.7577
Epoch 19/100
108/108 [==============================] - 0s 2ms/step - loss: 0.5125 - accuracy: 0.7547
Epoch 20/100
108/108 [==============================] - 0s 2ms/step - loss: 0.5116 - accuracy: 0.7553
Epoch 21/100
108/108 [==============================] - 0s 2ms/step - loss: 0.5110 - accuracy: 0.7585
Epoch 22/100
108/108 [==============================] - 0s 2ms/step - loss: 0.5108 - accuracy: 0.7553
Epoch 23/100
108/108 [==============================] - 0s 2ms/step - loss: 0.5113 - accuracy: 0.7562
Epoch 24/100
108/108 [==============================] - 0s 2ms/step - loss: 0.5102 - accuracy: 0.7579
Epoch 25/100
108/108 [==============================] - 0s 2ms/step - loss: 0.5091 - accuracy: 0.7550
Epoch 26/100
108/108 [==============================] - 0s 2ms/step - loss: 0.5090 - accuracy: 0.7600
Epoch 27/100
108/108 [==============================] - 0s 2ms/step - loss: 0.5086 - accuracy: 0.7527
Epoch 28/100
108/108 [==============================] - 0s 2ms/step - loss: 0.5079 - accuracy: 0.7571
Epoch 29/100
108/108 [==============================] - 0s 2ms/step - loss: 0.5081 - accuracy: 0.7559
Epoch 30/100
108/108 [==============================] - 0s 2ms/step - loss: 0.5082 - accuracy: 0.7588
Epoch 31/100
108/108 [==============================] - 0s 2ms/step - loss: 0.5074 - accuracy: 0.7559
Epoch 32/100
108/108 [==============================] - 0s 2ms/step - loss: 0.5064 - accuracy: 0.7617
Epoch 33/100
108/108 [==============================] - 0s 2ms/step - loss: 0.5064 - accuracy: 0.7568
Epoch 34/100
108/108 [==============================] - 0s 2ms/step - loss: 0.5058 - accuracy: 0.7568
Epoch 35/100
108/108 [==============================] - 0s 2ms/step - loss: 0.5057 - accuracy: 0.7600
Epoch 36/100
108/108 [==============================] - 0s 2ms/step - loss: 0.5041 - accuracy: 0.7594
Epoch 37/100
108/108 [==============================] - 0s 2ms/step - loss: 0.5031 - accuracy: 0.7574
Epoch 38/100
108/108 [==============================] - 0s 2ms/step - loss: 0.5050 - accuracy: 0.7579
Epoch 39/100
108/108 [==============================] - 0s 2ms/step - loss: 0.5030 - accuracy: 0.7582
Epoch 40/100
108/108 [==============================] - 0s 2ms/step - loss: 0.5042 - accuracy: 0.7585
Epoch 41/100
108/108 [==============================] - 0s 2ms/step - loss: 0.5041 - accuracy: 0.7550
Epoch 42/100
108/108 [==============================] - 0s 2ms/step - loss: 0.5029 - accuracy: 0.7609
Epoch 43/100
108/108 [==============================] - 0s 2ms/step - loss: 0.5024 - accuracy: 0.7603
Epoch 44/100
108/108 [==============================] - 0s 2ms/step - loss: 0.5037 - accuracy: 0.7591
Epoch 45/100
108/108 [==============================] - 0s 2ms/step - loss: 0.5020 - accuracy: 0.7556
Epoch 46/100
108/108 [==============================] - 0s 3ms/step - loss: 0.5028 - accuracy: 0.7632
Epoch 47/100
108/108 [==============================] - 0s 3ms/step - loss: 0.5009 - accuracy: 0.7591
Epoch 48/100
108/108 [==============================] - 0s 3ms/step - loss: 0.5019 - accuracy: 0.7603
Epoch 49/100
108/108 [==============================] - 0s 3ms/step - loss: 0.5022 - accuracy: 0.7577
Epoch 50/100
108/108 [==============================] - 0s 3ms/step - loss: 0.5026 - accuracy: 0.7585
Epoch 51/100
108/108 [==============================] - 0s 4ms/step - loss: 0.5010 - accuracy: 0.7597
Epoch 52/100
108/108 [==============================] - 0s 4ms/step - loss: 0.5002 - accuracy: 0.7591
Epoch 53/100
108/108 [==============================] - 0s 3ms/step - loss: 0.5014 - accuracy: 0.7597
Epoch 54/100
108/108 [==============================] - 0s 2ms/step - loss: 0.5008 - accuracy: 0.7603
Epoch 55/100
108/108 [==============================] - 0s 2ms/step - loss: 0.5000 - accuracy: 0.7626
Epoch 56/100
108/108 [==============================] - 0s 2ms/step - loss: 0.5008 - accuracy: 0.7617
Epoch 57/100
108/108 [==============================] - 0s 2ms/step - loss: 0.4999 - accuracy: 0.7568
Epoch 58/100
108/108 [==============================] - 0s 2ms/step - loss: 0.5004 - accuracy: 0.7577
Epoch 59/100
108/108 [==============================] - 0s 2ms/step - loss: 0.4996 - accuracy: 0.7623
Epoch 60/100
108/108 [==============================] - 0s 2ms/step - loss: 0.4988 - accuracy: 0.7623
Epoch 61/100
108/108 [==============================] - 0s 2ms/step - loss: 0.5012 - accuracy: 0.7623
Epoch 62/100
108/108 [==============================] - 0s 2ms/step - loss: 0.5006 - accuracy: 0.7600
Epoch 63/100
108/108 [==============================] - 0s 2ms/step - loss: 0.5002 - accuracy: 0.7597
Epoch 64/100
108/108 [==============================] - 0s 2ms/step - loss: 0.4996 - accuracy: 0.7574
Epoch 65/100
108/108 [==============================] - 0s 2ms/step - loss: 0.5000 - accuracy: 0.7603
Epoch 66/100
108/108 [==============================] - 0s 2ms/step - loss: 0.4995 - accuracy: 0.7617
Epoch 67/100
108/108 [==============================] - 0s 2ms/step - loss: 0.4986 - accuracy: 0.7600
Epoch 68/100
108/108 [==============================] - 0s 2ms/step - loss: 0.4985 - accuracy: 0.7588
Epoch 69/100
108/108 [==============================] - 0s 2ms/step - loss: 0.4985 - accuracy: 0.7574
Epoch 70/100
108/108 [==============================] - 0s 2ms/step - loss: 0.4979 - accuracy: 0.7614
Epoch 71/100
108/108 [==============================] - 0s 2ms/step - loss: 0.4964 - accuracy: 0.7603
Epoch 72/100
108/108 [==============================] - 0s 2ms/step - loss: 0.4977 - accuracy: 0.7600
Epoch 73/100
108/108 [==============================] - 0s 2ms/step - loss: 0.4974 - accuracy: 0.7617
Epoch 74/100
108/108 [==============================] - 0s 2ms/step - loss: 0.4983 - accuracy: 0.7612
Epoch 75/100
108/108 [==============================] - 0s 2ms/step - loss: 0.4975 - accuracy: 0.7617
Epoch 76/100
108/108 [==============================] - 0s 2ms/step - loss: 0.4977 - accuracy: 0.7559
Epoch 77/100
108/108 [==============================] - 0s 2ms/step - loss: 0.4973 - accuracy: 0.7600
Epoch 78/100
108/108 [==============================] - 0s 2ms/step - loss: 0.4978 - accuracy: 0.7533
Epoch 79/100
108/108 [==============================] - 0s 2ms/step - loss: 0.4957 - accuracy: 0.7597
Epoch 80/100
108/108 [==============================] - 0s 2ms/step - loss: 0.4979 - accuracy: 0.7591
Epoch 81/100
108/108 [==============================] - 0s 2ms/step - loss: 0.4975 - accuracy: 0.7617
Epoch 82/100
108/108 [==============================] - 0s 2ms/step - loss: 0.4974 - accuracy: 0.7617
Epoch 83/100
108/108 [==============================] - 0s 2ms/step - loss: 0.4958 - accuracy: 0.7614
Epoch 84/100
108/108 [==============================] - 0s 2ms/step - loss: 0.4975 - accuracy: 0.7594
Epoch 85/100
108/108 [==============================] - 0s 2ms/step - loss: 0.4964 - accuracy: 0.7617
Epoch 86/100
108/108 [==============================] - 0s 2ms/step - loss: 0.4976 - accuracy: 0.7565
Epoch 87/100
108/108 [==============================] - 0s 2ms/step - loss: 0.4960 - accuracy: 0.7609
Epoch 88/100
108/108 [==============================] - 0s 2ms/step - loss: 0.4962 - accuracy: 0.7629
Epoch 89/100
108/108 [==============================] - 0s 2ms/step - loss: 0.4958 - accuracy: 0.7606
Epoch 90/100
108/108 [==============================] - 0s 2ms/step - loss: 0.4979 - accuracy: 0.7582
Epoch 91/100
108/108 [==============================] - 0s 2ms/step - loss: 0.4961 - accuracy: 0.7606
Epoch 92/100
108/108 [==============================] - 0s 2ms/step - loss: 0.4972 - accuracy: 0.7594
Epoch 93/100
108/108 [==============================] - 0s 2ms/step - loss: 0.4950 - accuracy: 0.7612
Epoch 94/100
108/108 [==============================] - 0s 3ms/step - loss: 0.4954 - accuracy: 0.7579
Epoch 95/100
108/108 [==============================] - 0s 2ms/step - loss: 0.4961 - accuracy: 0.7603
Epoch 96/100
108/108 [==============================] - 0s 2ms/step - loss: 0.4955 - accuracy: 0.7617
Epoch 97/100
108/108 [==============================] - 0s 4ms/step - loss: 0.4975 - accuracy: 0.7585
Epoch 98/100
108/108 [==============================] - 0s 4ms/step - loss: 0.4949 - accuracy: 0.7591
Epoch 99/100
108/108 [==============================] - 0s 3ms/step - loss: 0.4950 - accuracy: 0.7612
Epoch 100/100
108/108 [==============================] - 0s 4ms/step - loss: 0.4958 - accuracy: 0.7612

In [84]:
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

965/965 - 2s - loss: 0.6311 - accuracy: 0.7172 - 2s/epoch - 2ms/step
Loss: 0.6310842633247375, Accuracy: 0.7172011733055115

In [85]:
nn.save("AlphabetSoupCharity_Optimization.h5")

/usr/local/lib/python3.10/dist-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(